/* Add mobile styles for the component here.  */
ScrollView {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("~/images/background.jpg");
}



.original {
    margin-bottom: 0;
    margin-top: 20;
    height: 400;
}

.my-label {
    background-color: #146ace;
    color: rgb(255, 255, 255);
    font-size: 15;
    padding: 8;
    text-align: center;
    vertical-align: middle;
    width: 80%;
}

.result {
    background-color: #6f00ff;
    color: rgb(255, 255, 255);
    font-size: 15;
    padding: 8;
    text-align: center;
    vertical-align: middle;
    width: 80%;
    margin: 25;
}

.resultBox{
    background: white;
    text-align: center;
}

.advertencias {
    background-color: #fbff00;
    color: rgb(0, 0, 0);
    font-size: 15;
    padding: 8;
    text-align: center;
    vertical-align: middle;
    width: 80%;
    margin: 25;
}

.analyzedImage{
    margin-bottom: 0;
    margin-top: 20;
    height: 224;
    width: 224;
}

